<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sumário de Dados dos Filmes</h1>
    <div>{{ resumo|safe }}</div>
    <br>
    <h1>5 Primeiros Filmes do</h1>
    <div>{{ eader|safe }}</div>
    <br>
    <h2>Gráficos Interativos</h2>
    <ul>
        <li><a href="/plot1">Districuição de Avaliações dos Filmes</a></li>
        <li><a href="/plot1">Box Plot das Avaliações por genero</a></li>
        <li><a href="/plot1">Relação entre votos, Avaliações e Duração dos Filmes</a></li>
    </ul>
</body>
</html>